<!DOCTYPE HTML>
<html>
  	<head>
    	<title>Titulo Pagina</title>
    	<meta name="viewport" content="width=device-width">
   		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   		<link rel="shortcut icon" type="image/png" href="http://gtcompra.com/apariencia/favicon.png"/>
   		<link rel="icon" type="image/png" href="http://gtcompra.com/apariencia/favicon.png" /> 
    	
	</head>
	<body>
		<header>
			<div id="contenedor-form-login" class="sintio_usuario form-horizontal">
				<div id="form-login" class="form-group col-sm-8">
					<h2>Indentificarse</h2>
					<br>
					<div class="form-group">
						<label class="col-sm-2 control-label">Usuario: </label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="usuario-form-login">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Password: </label>
						<div class="col-sm-10">
							<input type="password" class=" form-control" id="password-form-login">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="btn btn-primary btn-block" id="boton-enviar-form-login">
							Login
						</div>
					</div>
					<div class="col-sm-12">
						<a href="http://gtcompra.com/contenedores/paginas/?pt=registro">
							<div class="btn btn-primary btn-block">
								Registrarse
							</div>
						</a>	
					</div>	
				</div>
			</div>
			<div id="sintio_superior">Contenido Sintio Superior</div>
			<div id="sintio_principal">
				
			</div>
			<div id="sintio_menu_titulo">
				<div class="invoca-menu"><img src="http://solucionclic.com/apariencia/boton_menu_blanco.png"></div>
				<nav>
					Menu Pagina
				</nav>
				<div id="contenedor_titulo_pagina">GTcompra.com</div>	
			</div>
			
		</header>
		<main>
			<div class="sintio_titulo_pagina" id="boton-activador-form-login">Titulo Pagina</div>
			
			
			<div class="contenido_pagina">
				CONTENIDO_PAGINA
			</div>
		</main>
		<footer>
			<div class="left cuadro_social">
				<a href="https://www.facebook.com/pages/GTcompra/1482442082054264"><img src="http://gtcompra.com/apariencia/facebook.jpg"></a>
				<a href=""><img src="http://gtcompra.com/apariencia/twitter.jpg"></a>
				
			</div>
			<div class="center"></div>
			<div class="right"><label><a href="http://solucionclic.com">Solucionclic.com</a></label></div>
		</footer>
	</body>
	<link rel="stylesheet" type="text/css" href="http://gtcompra.com/librerias/externas/bootstrap-3.3.5-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://gtcompra.com/temas/gtcompra/css/principal.css">
	<link rel="stylesheet" type="text/css" href="http://gtcompra.com/temas/gtcompra/css/principal_responsive.css">
	<link rel="stylesheet" type="text/css" href="http://gtcompra.com/temas/gtcompra/css/pie.css">
	<link rel="stylesheet" type="text/css" href="http://gtcompra.com/temas/gtcompra/css/pie_responsive.css">
	<link rel="stylesheet" type="text/css" href="http://gtcompra.com/temas/gtcompra/css/menu.css">
	<link rel="stylesheet" type="text/css" href="http://gtcompra.com/temas/gtcompra/css/menu_responsive.css">
	<link rel="stylesheet" type="text/css" href="http://gtcompra.com/temas/gtcompra/css/producto_responsive.css">


	<link rel="stylesheet" type="text/css" href="http://gtcompra.com/temas/gtcompra/css/slide_show.css">
	<script type="text/javascript" src="http://gtcompra.com/librerias/propias/js/slide_show.js"></script>
	<script type="text/javascript" src="http://gtcompra.com/librerias/propias/js/menu.js"></script>
	
	<script type="text/javascript" src="http://gtcompra.com/librerias/propias/js/carrito.js"></script>
	<script type="text/javascript" src="http://gtcompra.com/librerias/propias/js/varios.js"></script>
	<script type="text/javascript" src="http://192.168.36.128/propias/js/funcionalidad_formulario.js"></script>
	<script type="text/javascript" src="http://192.168.36.128/propias/js/buscador.js"></script>
	<script type="text/javascript" src="http://192.168.36.128/externa/js/jquery_cookie.js"></script>
	<script type="text/javascript" src="http://192.168.36.128/propias/js/security.js"></script>
</html>
				
			
		