<!DOCTYPE HTML>
<html>
  	<head>
    	<title>TITULO-PAGINA</title>
    	<meta name="viewport" content="width=device-width">
   		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   		<link rel="shortcut icon" type="image/png" href="http://gtcompra.com/apariencia/favicon.png"/>
   		<link rel="icon" type="image/png" href="http://gtcompra.com/apariencia/favicon.png" /> 
	</head>
	<body>
		<div id="contenedor-form-login" class="sintio_usuario form-horizontal">
			<div id="form-login" class="form-group col-sm-8">
				<h2>Indentificarse</h2>
				<br>
				<div class="form-group">
					<label class="col-sm-2 control-label">Usuario: </label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="usuario-form-login">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Password: </label>
					<div class="col-sm-10">
						<input type="password" class=" form-control" id="password-form-login">
					</div>
				</div>
				<div class="col-sm-12">
					<div class="btn btn-primary btn-block" id="boton-enviar-form-login">
						Login
					</div>
				</div>
			</div>
		</div>
		<header>
			
			<div id="sintio_menu_titulo">
				<div class="invoca-menu"><img src="http://solucionclic.com/apariencia/boton_menu_blanco.png"></div>
				
				<div id="contenedor_titulo_pagina"><img src="http://104.196.49.22/propias/img/titulo_genesis_contabilidad.png"></div>
				<div id="boton-activador-form-login"> <label>Login</label> </div>	
			</div>
		</header>
		<nav>
			MENU-PAGINA
		</nav>

		<main>
			<br>
			<br>
			<div class="sintio_titulo_pagina" >TITULO-PAGINA</div>
			<div class="contenido_pagina">
				CONTENIDO_PAGINA
			</div>
		</main>
		<footer>
			<div class="left cuadro_social">
				<a href="https://www.facebook.com/pages/GTcompra/1482442082054264"><img src="http://gtcompra.com/apariencia/facebook.jpg"></a>
				<a href=""><img src="http://gtcompra.com/apariencia/twitter.jpg"></a>
				
			</div>
			<div class="center"></div>
			<div class="right"><label><a href="http://solucionclic.com">Solucionclic.com</a></label></div>
		</footer>
	</body>
	<link rel="stylesheet" type="text/css" href="http://gtcompra.com/librerias/externas/bootstrap-3.3.5-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://104.196.49.22/propias/css/temas/black_red_software/principal.css">
	<link rel="stylesheet" type="text/css" href="http://104.196.49.22/propias/css/temas/black_red_software/reporte.css">
	<link rel="stylesheet" type="text/css" href="http://104.196.49.22/propias/css/temas/black_red_software/buscador.css">
	<link rel="stylesheet" type="text/css" href="http://104.196.49.22/propias/css/temas/black_red_software/principal_responsive.css">
	<link rel="stylesheet" type="text/css" href="http://gtcompra.com/temas/gtcompra/css/pie.css">
	<link rel="stylesheet" type="text/css" href="http://gtcompra.com/temas/gtcompra/css/pie_responsive.css">
	<link rel="stylesheet" type="text/css" href="http://104.196.49.22/propias/css/temas/black_red_software/menu.css">
	<link rel="stylesheet" type="text/css" href="http://gtcompra.com/temas/gtcompra/css/menu_responsive.css">


	<script type="text/javascript" src="http://gtcompra.com/librerias/propias/js/menu.js"></script>
	<script type="text/javascript" src="http://gtcompra.com/librerias/propias/js/varios.js"></script>
	<script type="text/javascript" src="http://104.196.49.22/propias/js/funcionalidad_formulario.js"></script>
	<script type="text/javascript" src="http://104.196.49.22/propias/js/buscador.js"></script>
	<script type="text/javascript" src="http://104.196.49.22/externa/js/jquery_cookie.js"></script>
	<script type="text/javascript" src="http://104.196.49.22/propias/js/security.js"></script>
</html>
				
			
		